<!- C:\Users\johnc\workspace5\NonasKitchen\thanks.ejs ->

<div class="container">

  <div class="col-sm-6">
    <img src="/images/graph.png" alt="" style="width:500px;height:500px;">
  </div>

  <div class="col-sm-6">
    <h2>Thank you for submitting your valuable and private information!!!</h2>
    <p> Go to
      <a href="/">home!</a>
    </p>
  </div>

</div>
